<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

  <h1>სახელი : {{products.name}}</h1>
  <h2>აღწერა : {{products.description}}</h2>
  <h2>ფასი : {{products.price}}ლ</h2>
  <h3>კატეგორიები :</h3>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>

  {% if products.image.url != None%}
    <img src="{{products.image.url}}" >
  {%else%}
    <h3>სურათი არ აქვს</h3>

  {%endif%}

  <h2>რაოდენობა : {{products.quantity}}</h2>



</div>

</body>
</html>